
@{
    ViewData["Title"] = "Hakkinda";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
@using EntityLayer.Concrete
@model List<Hakkimizda>

    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                   
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">

                            <div class="blog_info_left_grid">
                                <a href="single.html">
                                    <img src=@item.HakkimizdaImgUrl1 class="img-fluid" alt="">
                                </a>
                            </div>
                            <h3>@item.HakkimizdaBaslik <br />
                                Biz Kimiz & Misyon Ve Vizyonumuz
                            </h3>
                            <p>
                               @item.HakkimizdaAciklama
                            </p>
                        </div>
                    }


                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/Kullanici/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="tech-btm">
                            <h3>Mail Bülteni</h3>
                            @await Component.InvokeAsync("_MailBülteni")
                        </div>
                            @await Component.InvokeAsync("_SonMakaleler")
                        </div>

</aside>
            </div>
        </div>
    </section>
