<footer>
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_FotterAbout")
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("_SonMakaleler")
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <div class="tech-btm">
                    <h3>Mail Bülteni</h3>
                    @await Component.InvokeAsync("_MailBülteni")
                </div>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-pinterest-p"></i>
                                <span>Pinterest</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/">Sevgül KETENCİ</a>
                </p>

            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>