
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>KET BLOG</title>

    <link href="~/admin/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/admin/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/admin/admin/css/animate.css" rel="stylesheet">
    <link href="~/admin/admin/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        @await Html.PartialAsync("_AdminNavbar")
        
        
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">KET BLOG Admin Paneli</span>
                        </li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>  <span class="label label-primary">@TempData["TalepCount"]</span>
                            </a>
                           
                        </li>


                        <li>
                            <a href="/YazarLogin/YazarLogOut">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
      
            
                <div class="container">
                    @RenderBody()
                </div>      
           
            
            <div class="footer">
                <div class="float-right">
                
                </div>
                <div>
                    <strong>KET BLOG ADMİN</strong> Example Company &copy; @DateTime.Now.Year
                </div>
            </div>

        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="~/admin/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/admin/admin/js/popper.min.js"></script>
    <script src="~/admin/admin/js/bootstrap.js"></script>
    <script src="~/admin/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/admin/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="~/admin/admin/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/admin/admin/js/inspinia.js"></script>
    <script src="~/admin/admin/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/admin/admin/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="~/admin/admin/js/demo/peity-demo.js"></script>

    <script>$(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>

</body>

</html>
