
<li>
    <a asp-area="Admin" asp-controller="BlogYayın" asp-action="Talepler">
        <i class="fa fa-circle"></i> <span class="nav-label">Yayın Talepleri</span>@{
            if (ViewBag.New == 1)
            {
                <span class="label label-info float-right">NEW</span>
            }
        }
    </a>
</li>
<li>
    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label"> Mesajlar </span><span class="label label-warning float-right">@ViewBag.msjCount</span></a>
    <ul class="nav nav-second-level collapse">
        <li><a asp-area="Admin" asp-controller="AdminMesaj" asp-action="GelenMesaj">Gelen Kutusu</a></li>
        <li><a  asp-area="Admin" asp-controller="AdminMesaj" asp-action="GidenMesaj">Giden Kutusu</a></li>
        <li><a asp-area="Admin" asp-controller="AdminMesaj" asp-action="MesajGonder">Yeni Mesaj</a></li>

    </ul>
</li>