@using EntityLayer.Concrete
@model List<Yorum>


<div class="comment-top">
        <h4>Comments</h4>
        <div class="media">

            @foreach (var item in Model)
            {
                <img src="~/Kullanici/images/t1.jpg" alt="" class="img-fluid" />
                <div class="media-body">
                    <h5 class="mt-0">@item.YorumAdi</h5>
                    <p>
                        @item.YorumAciklama
                    </p>

                 
                </div>
            }

        </div>
    </div>