
@{
    Layout = null;
}

<div class="ad-inf-sec bg-light">
    <div class="container">
        <div class="address row">

            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-md-4 address-left text-center">
                        <i class="far fa-map"></i>
                    </div>
                    <div class="col-md-8 address-right text-left">
                        <h6>Adres</h6>
                        <p>
                            Samsun/Türkiye

                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-md-4 address-left text-center">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="col-md-8 address-right text-left">
                        <h6>E-mail</h6>
                        <p>
                            E-mail :
                            <a href="mailto:ketenci2554@gmail.com"> ketenci2554@gmail.com</a>

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-md-4 address-left text-center">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="col-md-8 address-right text-left">
                        <h6>Telefon</h6>
                        <p>+90 536 604 54 65</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
