
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>KET BLOG  | 403 Error</title>

    <link href="~/admin/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/admin/admin/css/animate.css" rel="stylesheet">
    <link href="~/admin/admin/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">ERİŞİM İZNİ HATASI</h3>

        <div class="error-desc">
            Ne yazık ki buraya erişim izniniz bulunmamaktadır  <br /><a href="/YazarDashBoard/DashBoard" class="btn btn-primary m-t">Geri Dön</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/admin/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/admin/admin/js/popper.min.js"></script>
    <script src="~/admin/admin/js/bootstrap.js"></script>

</body>

</html>
