
@{
    ViewData["Title"] = "YazarLogin";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}


<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Giriş Yap</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-controller="YazarLogin" asp-action="YazarLogin" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1 mb-2">Kullanıcı Adı</label>
                        <input type="text" name="kullaniciAdi" class="form-control"   placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1 mb-2">Şifreniz</label>
                        <input type="password" name="sifre" class="form-control" placeholder="" required="">
                    </div>
                   
                    <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                  
                </form>
            </div>
        </div>
    </div>
</section>

