
@{
    Layout = null;
}



    <p>Mail almak için kullandığın mail'i gir </p>
    <form action="/Mail/Mail" method="post">
        <input type="email" name="Mail" placeholder="Email" required="">
        <input type="submit" value="Gönder">
    </form>

