
@{
    Layout = null;
}

<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form action="/Yorum/Yorumlar" method="post">

            <input type="hidden" name="MakaleId" value=@ViewBag.id />
            <input class="form-control" type="text" name="YorumAdi" placeholder="Adınız" required="">
            <input class="form-control" type="email" name="Email" placeholder="E-mail adresini" required="">

            <textarea class="form-control" name="YorumAciklama" placeholder="Mesajınız" required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>
    </div>
</div>