
@{
    ViewData["Title"] = "RolDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


    <label><strong>Kullanıcı Rol</strong></label>
    <br />
    <input type="text" value=@ViewBag.rol[0] /><br />



