
@{
    ViewData["Title"] = "RolEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form action="RolEkle" method="post">
    <label><strong>Eklenen Rol Adı</strong></label><br />
    <input type="text" name="RolAdi" class="form-control"  /> <br />
    <button action="submit" class="btn btn-primary">Ekle</button>
</form>

