
@{
    ViewData["Title"] = "MakaleEkle";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}

<div>
    <form action="/Yazar/MakaleEkle" method="post">

        <label>Blog Başlık</label><br />
        <input type="text" name="MakaleBaslik" value="" class="form-control" /><br />

        <input type="hidden" name="MakaleTarih" value=@DateTime.Now class="form-control" /><br />

        <label>Blog Metin</label><br />
        <input type="text" name="MakaleAciklama" value="" class="form-control" /><br />

        <label>Blog Img URL</label><br />
        <input type="text" name="MakaleImgUrl" value="" class="form-control" /><br />

        <label>Blog Kategori</label><br />
        <select name="KategoriId" class="form-control">
            <option value="1">Yazılım</option>
            <option value="2">Teknoloji</option>
            <option value="3">Sinema</option>
            <option value="4">Oyun</option>
        </select>


        <button action="submit" class="btn btn-success">Ekle</button>

    </form>
</div>

