
@{
    ViewData["Title"] = "Güncelle";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}
@using EntityLayer.Concrete
@model Makale

<div>
    <form action="/Yazar/MakaleGüncelle" method="post">
        
        <input type="hidden" name="MakaleId" value=@Model.MakaleId class="form-control" /><br />

        <label>Blog Başlık</label><br />
        <input type="text" name="MakaleBaslik" value=@Model.MakaleBaslik class="form-control" /><br />

        <label>Blog Metin</label><br />
        <textarea type="text" name="MakaleAciklama" rows="6" class="form-control">@Model.MakaleAciklama</textarea><br />

        <label>Blog Img URL</label><br />
        <input type="text" name="MakaleImgUrl" value=@Model.MakaleImgUrl class="form-control" /><br />

        <label>Blog Kategori</label><br />
        <select name="KategoriId" class="form-control">
            <option value="1">Yazılım</option>
            <option value="2">Teknoloji</option>
            <option value="3">Sinema</option>
            <option value="4">Oyun</option>
        </select>
        <br />

        <button action="submit" class="btn btn-success">Güncelle</button>

    </form>
</div>