
@{
    ViewData["Title"] = "MakaleEkle";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}

<div>
    <form action="/Yazar/MakaleEkle" method="post">

        <label>Blog Başlık</label><br />
        <input type="text" name="MakaleBaslik" value="" class="form-control"/><br />

        <label>Blog Metin</label><br />
        <input type="text" name="MakaleAciklama" value=""class="form-control" /><br />

        <label>Blog Img URL</label><br />
        <input type="text" name="MakaleImgUrl" value=""class="form-control" /><br />

        <label>Blog Img URL</label><br />
        <input type="text" name="name" value=""class="form-control" /><br />

     
        <input type="hidden" name="MakaleStatu" value="1" /><br />
        <input type="hidden" name="YazarId" value=@ViewBag.kullanici /><br />
    
        <button action="submit" class="btn btn-success">Ekle</button>

    </form>
</div>

