@{ 
    Layout = null;

}

<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMesaj/MesajGonder">Mesaj Oluştur</a>
                <div class="space-25"></div>
                <h5>Araçlar</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Admin/AdminMesaj/GelenMesaj"> <i class="fa fa-inbox "></i> Gelen Kutusu </a></li>
                    <li><a href="/Admin/AdminMesaj/GidenMesaj"> <i class="fa fa-envelope-o"></i> Giden Kutusu</a></li>
                    <li><a href="/Admin/AdminMesaj/MesajGonder"> <i class="fa fa-pencil"></i> Mesaj Oluştur</a></li>
                </ul>
                <h5>Kategoriler</h5>
                <ul class="category-list" style="padding: 0">
                    <li><a href="#"> <i class="fa fa-circle text-navy"></i> Genel </a></li>
                    <li><a href="#"> <i class="fa fa-circle text-danger"></i> Yazar </a></li>
                    <li><a href="#"> <i class="fa fa-circle text-primary"></i> İş</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-info"></i> Gereksiz </a></li>

                </ul>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>